﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Grand Dream Hotel</title> 
 
    <br />
       @Html.ActionLink("tr","Index", new { lang = "tr" })
    @Html.ActionLink("en", "Index", new { lang = "en" }) 
    <br />
    <link rel="stylesheet" href="/Content/normalize.css">
    <link rel="stylesheet" href="/Content/main.css" media="screen" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/Content/bootstrap.css">
    <link rel="stylesheet" href="/Content/style-portfolio.css">
    <link rel="stylesheet" href="/Content/picto-foundry-food.css" />
    <link rel="stylesheet" href="/Content/jquery-ui.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="favicon-1.ico" type="/Content/x-icon">
    @Styles.Render("~/Content/..")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @RenderBody()
    <!-- ============ Footer Section  ============= -->
    <footer class="sub_footer">
        <div class="container">
            <div class="col-md-4"><p class="sub-footer-text text-center">&copy; Grand Dream Hotel 2014, Theme by <a href="https://themewagon.com/">ThemeWagon</a></p></div>
            <div class="col-md-4">
                <p class="sub-footer-text text-center">Back to <a href="#top">TOP</a></p>
            </div>
            <div class="col-md-4"><p class="sub-footer-text text-center">Built With Care By <a href="#" target="_blank">Us</a></p></div>
        </div>
    </footer>
   
    

    
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")

    

    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"> </script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript" src="/Scripts/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="/Scripts/main.js"></script>



    @RenderSection("scripts", required: false)
</body>
</html>
